:root {
  --button-color: #F4B644;  /* Primärfarbe für die Buttons */
  --button-hover-color: #E6AB40; /* Sekundärfarbe für die Buttons - beim Hovern - sollte leicht dunkler als die Button Farbe sein */
  --source-highlight-color: #D9A23C; /* Farbe der Quellen und der kleinen Annotationen bei den Verweisen in der Schnellantwort */
  --sri-hover-color: #F4B644; /* Farbe für das Hovern bei Suchergebnissen */
  --color-search-input: #1e2028; /* Farbe für Search Box */
  --color-search-input-border: var(--graphite-900);
  --time-stamp: rgba(69, 69, 73, 0.8); /* Farbe für Zeitstempel mit Alpha-Wert, alt:  rgba(150, 190, 250, 0.8)*/
  --new-white: rgb(226, 226, 226); /* experimental */
  --new-black: rgb(29, 29, 29); /* experimental */
}

/**
* NEU
*
* - Podcasts haben jetzt kleine Buttons 
* - Farbbug gefixt bei Bilder und Videos
* - Zeitstempel sind nun weniger auffällig
* - News wurden dem anderen UI Design angeglichen
* - Angleichung Video UI Design
*/

/* "Suchen" Button auf Startseite - experimental
.btn.--primary {
} */

/* sticky header */
.app-header.app-content-box {
  position: sticky;
  top: 0;
  z-index: 114;

  /* From https://css.glass */
  background: rgba(26, 28, 35, 0.2);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  /*box-shadow: 0 7px 10px #1a1c23;*/
  box-shadow: 0 2px 15px rgba(0, 0, 0, .7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(35, 35, 37, 0.3);
}

/* Quick Settings Panel */
.quick-settings {
  background: rgba(32, 33, 36, 0.6);
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  box-shadow: 0 7px 10px #1a1c23;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(35, 35, 37, 0.7);
}

.theme_moon_dark :root {
  --m_sri_gap_color: #222222 !important;
  --app-text: #fdfdfd !important;
}

.theme_moon_dark {
	--background-color: #222222 !important;
}

.theme_moon_dark body {
	background-color: #222222 !important;
	font-family: var(--font-main), sans serif;
	color: #FFFFFF;
}

.theme_moon_dark ._0_app-wrapper, .theme_moon_dark .body-content, .theme_moon_dark .s-main-content-wrapper, .theme_moon_dark .set_header, .theme_moon_dark .main-content, .theme_moon_dark .a-w, .theme_moon_dark, .theme_moon_dark .header-small, .theme_moon_dark .app-sidebar-nav, .theme_moon_dark .__item, .theme_moon_dark .widget-body, .theme_moon_dark .card, .theme_moon_dark .card_thumb {
	background-color: #202124 !important;
}

.theme_moon_dark .__sri-body {
	font-size: 14px;
	line-height: 1.58 !important;
	color: #fdfdfd !important;
}

.theme_moon_dark .search_area {
	margin-top: 4px !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.theme_moon_dar .__sri-title {
	padding-left: 1px !important;
}

.theme_moon_dark button.btn {
	background-color: #303134 !important;
	border: 0 !important;
	color: #e8eaed !important;
	font-family: roboto, arial, sans-serif;
}

.theme_moon_dark .__sri_url_path_box {
	padding-left: 2px !important;
	font-size: 14px !important;
}

.theme_moon_dark .btn {
	border: 0 !important;
}

.theme_moon_dark .__domain-favicon {
	background-color: #202124 !important;
	height: 24px !important;
	width: 24px !important;
	border-radius: 50% !important;
}

.theme_moon_dark .footer {
	color: #9aa0a6;
}

.theme_moon_dark a {
	color: #ff00d0 !important;
	border-bottom: 0 !important;
	text-decoration: none;
}

.theme_moon_dark a:hover {
  color: var(--sri-hover-color);
  text-decoration: none;
  transition: all .5s ease;
}

.theme_moon_dark .search-input-container, .theme_moon_dark textarea {
	background-color: #303134 !important;
	min-height: 0 !important;
}

.theme_moon_dark .auto_suggestions, .theme_moon_dark .auto_suggestions_in, .theme_moon_dark .auto_suggestions_lenses, .theme_moon_dark .autosugg-landing {
	background-color: #303134 !important;
	/* border-color: #e5e5dc !important; */
	border: 0 !important;
  transition: all .5s ease;
}

.theme_moon_dark header, .theme_moon_dark .app-header {
	border-bottom-color: #3c4043 !important;
	background-color: #202124;
}

.theme_moon_dark .app-header a, .theme_moon_dark .serp-nav a {
	color: #bdc1c6 !important;
}

.theme_moon_dark .__sri-desc, .theme_moon_dark .__sri-url-box, .theme_moon_dark .path, .theme_moon_dark span.host {
	color: #303134 !important;
	opacity: 1.0 !important;
	font-size: 14px !important;
	line-height: 22px !important;
}

.theme_moon_dark .__sri-url-box {
	margin-bottom: 2px !important;
	margin-left: -1px !important;
}

.theme_moon_dark h3 {
	font-size: 20px !important;
}

/* Positionierung des Unterergebnisses */
.sri-group .sr-group {
  padding-left: 30px !important;
  padding-bottom: 10px;
}

/* disable the "found x results in x seconds" 
.results_meta {
  display: none;
} */

/* black box at top
.app-header.app-content-box {
  background-color: #1a1c23;
  box-shadow: 0 7px 10px #1a1c23;
} */

.correctedQuery {
  line-height: 2;
}

/* Wikipedia-Artikel Widget Hintergrund */
.wikipedia_results {
  background-color: #28282a;
}

/* Angleichung der Hintergrundfarbe bei Bilder und Videos */
.app-box {
  background-color: #17191e;
}

.app-box-center {
  margin-top: 2rem;
}

/* Mehr erfahren Button in Widget */
.read-more-inline {
  background-color: var(--button-color);
  color: #1b1b1b;
  border-radius: 10px;
  padding: 2px 8px 2px 8px;
}

.read-more-inline:hover {
  background-color: var(--button-hover-color);
  color: #1b1b1b;
}

.read-more-inline svg {
  color: #1b1b1b;
  transition: all 0.6s ease;
}

.read-more-inline:hover svg {
  color: #1b1b1b;
  transform: translateX(5px);
}

/* Animation des Pfeils */
.autoSugArrow svg {
  transition: all 0.6s ease;
}

.autoSugArrow:hover svg {
  transform: translateX(5px);
}

.auto_suggestions_lenses_edit_box:hover {
  background-color: var(--sri-hover-color);
}

._0_results_summary_text {
  color: #b3b7bb;
}

/* Wikipedia Link am Ende des Textabschnitts im Widget */
.wiki-nw-link {
  color: #97bffb !important;
}

/* Zeitstempel-Kästchen unter dem Titel */
.__sri-time {
  background-color: var(--time-stamp);
  color: var(--primary-700); /* old: #1b1b1b */
  user-select: none;
}

.__sri-time.--new {
  background-color: rgb(150, 190, 250, 0.8);
  color: #1b1b1b;
  user-select: none;
}

/* Entfernt Doggo-Icon
.doggo_sit_a {
  display: none;
}
*/

/* Container für Resultate */
.sri-group,
.search-result,
.scene {
  background-color: #1e2028;
  border-radius: 12px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
}

.__sri-title, .__sri_title_link {
  /*color: var(--sri-hover-color);*/
  transition: all .5s ease;
}

/* Anfangsanimation des gesamten Bildschirmes */
.scene {
  padding: 1rem;
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeInUp 0.6s ease-out forwards;
}

body,
html,
.mob {
  background-color: #17191e;
  font-family: var(--font-lufga), system-ui; /* change main font here */
}

/* Resultate der Suche */
.search-result {
  padding-top: 1.2rem;
  padding-right: 22px;
  padding-bottom: 0.7rem;
  padding-left: 18px;
  opacity: 0; 
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
}

/* Keyframe-Animation */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Auf einen Blick Kästchen */
.widgetContent {
    background-color: #1e2028;
    border-radius: 12px;
    padding-top: 1.2rem;
    padding-right: 22px;
    padding-bottom: 0.7rem;
    padding-left: 18px;
    opacity: 0; 
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease-out forwards;
}

.serp-nav .nav_item {
  position: relative;
}

/* Animierte Linie unter Web, Bilder, Videos, etc */
.serp-nav .nav_item:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--nav_n_se_line);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.serp-nav .nav_item:hover:after {
  transform: scaleY(1);
}

/* Linie wird angezeigt, wo man sich gerade befindet (bsp. Web) */
._0_sri-w-highlight .serp-nav .nav_item.searchResultAnswer:after, .serp-nav ._0_sri-w-highlight .nav_item.searchResultAnswer:after, .serp-nav .nav_item.--active:after, .serp-nav .nav_item:hover:after {
    transform: scaleY(1);
}

/* Mehr anzeigen bei Settings */
._0_more_search_box {
  text-align: center;
  width: 80%;
}

/* Statistiken ausblenden - unnötig, da bereits in Settings */
/*
._0_more_search_options_box {
  display: none;
}
*/


/* Remove bottom border from links - kopiert von Wiki */
.__sri_title_link._0_sri_title_link._0_URL {
  border-bottom: none;
}

/* Remove underline with nested links - kopiert von Wiki */
.__srgi-title a {
border-bottom: none; var(--result-item-title-border);
}

/* Remove underline with News module - kopiert von Wiki */
.newsResultItem .newsResultHeader .newsResultTitle a._0_TITLE {
  border-bottom: none; var(--result-item-title-border);
}

/* Remove underline from links in Wikipedia module - kopiert von Wiki */
.wikipediaResult a {
  border-bottom: none; var(--result-item-title-border);
}

/* Linse Background ist auch grau */
.k_ui_dropdown_data_list {
  background-color: #232325;
}

/* Schnellantwort Background einheitlich */
._0_results_summary_box {
  border-bottom: 1px solid var(--primary-200);
  margin-bottom: 30px;
  background-color: #1e2028;
  border-radius: 22px;
  padding: 20px;
}

/* Angleichung des Gradienten */
.results_summary_text_box:has(#qa_show_more:not(:checked)) .smw::before {
  background: linear-gradient(transparent,#1e2028);
}

/* Dialogfeld mit Land, Zeit, etc weg, außer Schnellantwortbutton */
._0_filters-panel {
  display: none;
}

/* Schnellantwort Button */
._0_summarize_link {
  background-color: var(--button-color);
  max-width: max-content;
  margin-bottom: 10px;
  border-radius: 10px !important;
  padding: 5px 10px 5px 10px;
}

._0_summarize_link:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all .5s ease;
}

._0_summarize_link svg {
  transition: all 0.6s ease !important;
}

._0_summarize_link:hover .ic svg {
  transform: translateX(5px) !important;
}

._0_summarize_link {
  color: #232325 !important;
}

._0_summarize_link a {
  color: #232325 !important;
}

.top-content .top-content ._0_provider-content {
  display: none !important;
}

/* Weiter in Assistent */
._0_results_summary_link_to_IA {
  background-color: var(--button-color);
  max-width: max-content;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 15px;
}

._0_results_summary_link_to_IA:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all .5s ease;
}  

/* kleine Annotationen bei Schnellantwort Quellen */
.results_summary_text_box sup a {
  border-radius: 50%;
  background-color: #2D2F2F;
  color: #8D9191;
  padding: 1px 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.results_summary_text_box sup a:hover {
  background-color: var(--source-highlight-color);
  color: #F2FCFC;
  transition: all .5s ease;
}

/* Vergrößerter Abstand zwischen Quellen und Button */
._0_results_summary_links {
    margin-bottom: 30px;
}

/* farblich hervorgehobene Quelle */
._0_results_summary_links a {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
}

/* beim hovern des Circles im Text */
._0_results_summary_links a.__0_highlight {
  transform: translateX(3px);
  background-color: var(--source-highlight-color);
  color: var(--resultsummary-highlight_text);
}

/* beim hovern über die Quelle mit der Maus */
._0_results_summary_links a:hover {
  transform: translateX(3px);
  background-color: var(--source-highlight-color);
  color: var(--resultsummary-highlight_text);
}

/* kleiner Kasten mit Main URL der Quelle */
._0_results_summary_links .__domain-name {
  user-select: none;
}

/* kleines Experiment mit Hinweis am Ende von KI-generiertem Inhalt
._0_results_summary_links:after {
    margin-top: 5px;
    font-size: .75rem;
    content: "KI-generierte Antwort. Verifizieren Sie die Fakten.";
}
*/

/* WolframAlpha Widget */
.widget .wasb {
  background-color: #1e2028;
}

/* Titel des Widgets von WolframAlpha */
.wasb-title {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 450;
}

/* Normales WolframAlpha Widget (= xxx) */
.wolfram-answer {
  background-color: #1e2028;
  margin-bottom: 25px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* "Frage zur Webseite stellen" Button bei Summarizer */
._0_discuss_document_btn {
  background-color: var(--button-color);
  color: #1b1b1b;
  border-radius: 10px;
  padding: 2px 8px 2px 8px;
  max-width: max-content;
  position: relative;
  margin-top: 1rem;
}

._0_discuss_document_btn:hover {
  background-color: var(--button-hover-color);
  color: #1b1b1b;
}

._0_discuss_document_btn svg {
  transition: all 0.6s ease;
}

._0_discuss_document_btn:hover svg {
  transform: translateX(5px);
}

/* Mehr anzeigen Button bei Schnellantwort */
.smw {
  background-color: var(--button-color);
  color: #1b1b1b;
  border-radius: 10px;
  padding: 2px 8px 2px 8px;
  max-width: max-content;
  position: relative;
  margin-top: 10px;
  margin: 0 auto;
  user-select: none;
}

.smw:hover {
  background-color: var(--button-hover-color);
  color: #1b1b1b;
}

.smw svg {
  transition: all 0.6s ease;
}

.smw:hover svg {
  transform: translateX(3px);
}

/* Linear Gradient vor dem Mehr anzeigen Kästchen */
.results_summary_text_box:has(#qa_show_more:not(:checked)) .smw::before {
    background: linear-gradient(transparent, #1e2028);
  /* width: 100%; Fehlerhaft, da er die Maße vom Button nimmt und nicht vom darüberliegenden Container */
}

/* Infobox (i) bei Schnellantwort im ausgeklappten Zustand*/
.ks-tooltip-body {
  background-color: var(--k-tooltip-text);;
  color: #FDFDFD;
}

/* Textfarbe des Bodys */
.ia-tooltip-body__desc {
    color: #fdfdfd;
}

/* "Findest du diese Antwort nützlich" */
.ia-tooltip-body__desc__title {
    color: #fdfdfd;
}

/* Infobox (i) bei Schnellantwort im eingeklappten Zustand (button-state) */
.tooltip_base {
  color: var(--k-tooltip-bg);
  background-color: var(--k-tooltip-text);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  width: 500px;
  z-index: 115;
}

/* kleines Quadrat als Hinführung */
[data-arrow] {
  background-color: var(--k-tooltip-text);
}

/* Related Search Buttons farblich korrigiert */
.related-items a {
  background-color: #1e2028;
  transition: all .5s ease;
}

/* Weitere Ergebnisse anzeigen */
.footer-search-results #load_more_results {
  transition: all .5s ease;
}

/* sanfter Übergang beim Hovern */
.btn.--primary {
  transition: background-color 0.5s ease;
}

/* Infoseite bei Datenschutz-Check */
.ranked-c-adjust-info-icon:not(.new-tooltip) .k-tooltip, .tooltip-trigger:not(.new-tooltip) .k-tooltip {
  background-color: var(--k-tooltip-text);
  color: #FDFDFD;
}

/* Widgets wie YouTube */
.widgetContent .widgetItems .widgetItem {
  background-color: #17191e;
  transition: all .5s ease;
}

/* Preview des Videos  bei YT Widget */
.widgetItem .videoResultThumbnail img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* search bar shadow */
.search-form .search-input-container, .search-form .search-input-container-kids {
  box-shadow: 1px 8px 30px 0 rgba(0, 0, 0, 0.3);
}

/* Infobox des Paywallsicons */
.paywall-icon .paywall-tooltip {
  color: var(--k-tooltip-bg);
  background-color: var(--k-tooltip-text);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Buttons bei Bildern */
.btn.--secondary-light-s:hover {
  border:1px solid var(--primary-hover);
  color:var(--primary-hover);
  transition: all .5s ease;
}

/* Widget-Header */
.inlineHeader {
  transition: all .5s ease;
}

/* Videos Hintergrund */
.videoResultItem {
  background-color: #1e2028;
}

/* Video-Zeitstempel */
.videoResultItem .videoResultRight .videoResultInfo .videoPublished .videoPublishedDate {
  background-color: var(--time-stamp);
  color: var(--primary-700); /* old: #1b1b1b */
  border-radius: 5px;
  padding: 0 6px;
}

/* Video-Aufrufezahlen */
.videoResultItem .videoResultRight .videoResultInfo .videoPublishedDate, .videoResultItem .videoResultRight .videoResultInfo .videoViewsCount {
  background-color: var(--time-stamp);
  color: var(--primary-700); /* old: #1b1b1b */
  border-radius: 5px;
  padding: 0 6px;
}

/* News Results einheitliches UI Design */
.newsResultItem {
  background-color: #1e2028;
  border-radius: 12px;

  padding-top: 1.2rem;
  padding-right: 22px;
  padding-bottom: 0.7rem;
  padding-left: 18px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
}

.newsResultItem:first-child {
  padding-top: 1.2rem;
}

/* Zeitstempel bei News */
.newsResultItem .newsResultTime {
  background-color: var(--time-stamp);
  color: var(--primary-700); /* old: #1b1b1b */
  border-radius: 5px;
  padding: 0 6px;
}

/* Podcasts: kleine Buttons bei Infos zum Podcast */
.podcast_result .episode_meta>div+div {
  background-color: var(--time-stamp);
  color: var(--primary-700); /* old: #1b1b1b */
  border-radius: 5px;
  padding: 0 6px;
}

/* Erstes Element */
.podcast_result .body .content .podcast_publisher {
  background-color: var(--time-stamp);
  color: var(--primary-700); /* old: #1b1b1b */
  border-radius: 5px;
  padding: 0 6px;
}

.podcast_result .body .content .podcast_publisher i {
  color: var(--primary-700); /* old: #1b1b1b */
}

.podcast_result .podcast_duration {
  background-color: var(--time-stamp);
  color: var(--primary-700); /* old: #1b1b1b */
  border-radius: 5px;
  padding: 0 6px;
}

/* Zeitstempel bei Videos */
.widget-time-ago {
  background-color: rgba(150, 190, 250, 0.8);
  color: #1b1b1b;
  user-select: none;
  border-radius: 5px;
  display: inline-block;
  padding: 0 6px;
  margin-bottom: auto;
  margin-top: auto;
}